<p id="notice"><%= notice %></p>
<header class="the_head">
<span class="educator_options">
  <%= link_to "Logout", sessions_logout_path  %> |
  <%= link_to "Edit Educator", edit_educator_path(session[:educator_id])   %>
</span>
  <% if session[:educator_id] %>
    <div>Hello <%= Educator.find_by_id(session[:educator_id]).name %></div></br>
  <% end %>

</header>
<h1 class="box">Listing Parents</h1>

<%= link_to 'New Parent', new_parent_path %>

<% %>
  <table>
    <thead>
      <tr>
        <th>Student name</th>
        <th>Parent name</th>
        <th colspan="2">Parent email</th>
        <th class="tablehead" colspan="3"> Table Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @list_by_educator.each do |parent| %>
        <tr>
          <div class="table_main">
            <td><%= parent.student_name %></td>
            <td><%= parent.parent_name %></td>
            <td colspan="2"><%= parent.parent_email %></td>
          </div>
          <td><%= link_to 'Show', parent %></td>
          <td><%= link_to 'Edit', edit_parent_path(parent) %></td>
          <td><%= link_to 'Destroy', parent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>
